.about-page__header {
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.about-page__content {
    text-align: center;
    width: 1200px;
    margin: auto;
}

.about-page__content__value {
    text-align: center;
}
